.slide-up-enter-active {
  transition: .75s transform , .5s opacity;
}

.slide-up-leave-active {
    transition: 1s transform, .75s opacity;
}

.slide-up-enter {
  transform: translateY(200px);
  opacity: 0;
}

.slide-up-leave-to {
  transform: translateY(-200px);
  opacity: 0;
}

@keyframes shaking {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shaking {
  animation: shaking .35s ease 0s 1 forwards;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .35s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
