$font-family-base: 'Montserrat', Arial, sans-serif;
$font-family-secondary: 'Gabriela', Arial, serif;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

$white: #fff;
$black: #000;
$red: #B21F24;
$green: #006C1E;
$text-color: #3D3D3D;
$yellow: #FFBD30;
