$font-family-base: 'Montserrat', Arial, sans-serif;
$font-family-secondary: 'Gabriela', Arial, serif;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

$white: #fff;
$black: #000;
$red: #a50310;
$green: #52b086;
$text-color: #003025;
$yellow: #ffb900;
$brand-color: #005548;
