.become-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  position: relative;
}

.become-page__title {
  margin: 0 0 40px;
  color: $white;
  font-weight: $regular;
  font-size: 48px;
  font-family: $font-family-secondary;
  line-height: 1.27;
}

.become-page__santa-list {
  background-color: $white;
  margin: 0 0 50px;
  padding: 36px;
  list-style-type: none;
  border-radius: 28px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 20px 50px;
}

.become-page__santa-item {
  display: flex;
  align-items: center;
}

.become-page__santa-item-icon {
  fill: $yellow;
  margin-right: 19px;
}

.become-page__not-santa-item-icon {
  fill: $red;
  margin-right: 19px;
}

.become-page__not-santa-name {
  margin: 0;
  color: lighten($black, 50%);
  font-weight: $semibold;
  font-size: 22px;
  font-family: $font-family-base;
  line-height: 1.3;
}

.become-page__santa-name {
  margin: 0;
  color: $text-color;
  font-weight: $semibold;
  font-size: 22px;
  font-family: $font-family-base;
  line-height: 1.3;
}

.become-page__results-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    opacity: 0.6;
    z-index: -1;
  }
}

.become-page__gift-box {
  width: 830px;
  z-index: 10;
  max-width: none;
}

.become-page__selected-guy-name {
  margin: 0;
  color: $text-color;
  background-color: $white;
  padding: 20px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-weight: $semibold;
  font-size: 32px;
  font-family: $font-family-base;
  line-height: 1.2;
  display: inline-block;
  opacity: 0;
  animation: fade .35s ease 1.5s 1 forwards;
  pointer-events: all;

  &::before {
    content: "";
    position: absolute;
    border: 39px solid $white;
    width: 78px;
    border-left: 39px solid transparent;
    left: 1px;
    top: 0;
    transform: translateX(-100%);
  }

  &::after {
    content: "";
    position: absolute;
    border: 39px solid $white;
    width: 78px;
    border-right: 39px solid transparent;
    right: 1px;
    top: 0;
    transform: translateX(100%);
  }
}
